* {
  font-family: "Playfair Display", serif;
}

.container {
  max-width: 1140px !important;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.main-img {
  background-image: url('images/page-header.webp');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 52%;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.main-img header h1 {
  font-size: 2rem;
  margin-bottom: 0 !important;
}

.main-img header h2 {
  font-size: 1.5rem !important;
}

.navbr {
  padding-left: 30px;
}

.nav-link {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  font-size: 13px;
  color: #404040;
  line-height: 19.5px;
}

.navbar-nav {

  gap: 7px;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
}

.nav-item-gap {
  margin-right: 20px;
  /* Adjust the gap size as needed */
}

.container h1 {
  color: #d8b600 !important;

}

.container h2 {
  color: #185285 !important;

}

.border {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.bg1 {
  background-color: #185285;
  background-image: url("images/bg-1.webp"), url("images/bg-2.webp");
  background-size: contain, 60%;
  background-position-x: right, -50%;
  background-position-y: top, center;
  background-repeat: no-repeat, no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}

.color-pc {
  color: #d8b600;
}

.Sayhellow {
  align-items: center;
  line-height: 30px;
}

.image-shadow {
  border-radius: 20px;
  height: 500px;
  overflow-y: auto !important;
  margin-top: 15px;
}

.mapimg {
  background: url("images/map\ \(1\).jpg");
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  border-radius: 20px;


}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container h3 {
  margin-bottom: 1rem;
}

.form-container .btn {
  min-width: 100px;
}

.link {
  text-decoration: none;
  color: #d8b600;
}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container h3 {
  margin-bottom: 1rem;
}

.form-group.row {
  margin-bottom: 1rem;
}

.form-container .btn {
  min-width: 100px;
}

.footer {
  background-color: #023159;
  color: #d8b600;
  padding: 2rem 0;
  position: relative;
}

.footer h4 {

  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #023159;
  font-size: 1rem;
  color: #d8b600;
  padding: 1rem 0;
}

.footer a {
  font-family: "Montserrat", sans-serif !important;
  color: #d8b600;
  font-size: 13px;
}

.footer .contact-info,
.footer .quick-links,
.footer .social-media,
.footer .students {
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 1.5rem;
}

.footer .contact-info h4,
.footer .quick-links h4,
.footer .social-media h4,
.footer .students h4 {
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 1rem;
}

.footer .social-icons i {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.footer .students img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.formfooter {
  padding: 15px 20px 15px 20px;
  border-radius: 27px;

}

.inputs input {
  font-family: "Montserrat", sans-serif !important;
  list-style: 20px;
}

.button1 {
  font-family: "Montserrat", sans-serif !important;
  padding: 20px 30px 20px 30px;
  width: 100%;
  border-radius: 27px;
  background-color: #d8b600;
  color: white;
  border: 1px solid #d8b600;
}

.form-text {
  display: block;
  margin-top: .25rem;
  color: white;
  font-size: 10.4px;
}

.imgtext {
  gap: 20px;
}

.imgtext h4 {
  font-family: sans-serif !important;
  font-weight: bold;
}

.footer h6 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  font-weight: bold;

}

/* Services */
.card-custom {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px 0 16px 0;
  padding: 20px 45px;
  text-align: center;
  box-shadow: 0 0 60px -40px rgba(0, 0, 0, .75);
  border-radius: 6%;
  height: 550px;
  overflow-y: auto;
}

/* Styles for the scrollbar */
.card-custom::-webkit-scrollbar {
  width: 7px;
}

/* Track (the background) */
.card-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
.card-custom::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 6px;
}

/* On hover, add a darker color to the scrollbar handle */
.card-custom::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6;
}

/* Styles for the scrollbar */
.image-shadow::-webkit-scrollbar {
  width: 7px;
}

/* Track (the background) */
.image-shadow::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
.image-shadow::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 6px;
}

/* On hover, add a darker color to the scrollbar handle */
.image-shadow::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6;
}

/* Styles for the scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track (the background) */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* On hover, add a darker color to the scrollbar handle */
body::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6;
}

.card-custom img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.card-custom h3 {
  font-size: 20px;
  color: #d4af37;
  margin-bottom: 20px;
}

.card-custom p {
  font-size: 14px;
  line-height: 23.4px;
  color: #555;
}

.card-custom li {
  font-size: 14px;
  list-style-type: disc;
}

.card-custom button {
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

.interested h1 {
  color: #185285 !important;
}

.interested a {
  float: right;
  padding: 10px 30px;
  font-size: 1em;
  background-color: #d8b600;
  border-color: #d8b600;
  border-radius: 50px;
}


.package .heading {
  display: block;
  width: 100%;
  color: #fff;
  padding: 5em 0 6em 0;
  background-image: url('https://learnquran.com.au/vendor/local/imgs/bgs/package-header.svg');
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
}

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-shadow,
.img-shadow {
  -webkit-box-shadow: 0 0 60px -40px rgba(0, 0, 0, .75);
  box-shadow: 0 0 60px -40px rgba(0, 0, 0, .75);
}

.half-rounded {
  border-radius: 2em;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.tick li {
  padding: 8px 0 0 30px;
  background: url('https://learnquran.com.au/vendor/local/imgs/icons/check-golden.svg') no-repeat left 10px;
  background-size: 15px 15px;
}

a.btn {
  padding: 10px 30px;
  font-size: 1em;
}

.btn-secondary {
  color: #fff;
  background-color: #185285;
  border-color: #185285;
}


.policy-section {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.policy-section h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #0d6efd;
}

.policy-section ul {
  list-style: none;
  padding: 0;
}

.policy-section li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.5rem;
}

.policy-section li::before {
  content: "●";
  position: absolute;
  left: 0;
  color: #ffc107;
}

.policy-section p {
  margin-bottom: 1rem;
}

.Card {
  margin: auto;
  align-items: center;
}

.cardimg {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50px;
}

.Section2 {
  background-image: url("images/video-bg-mid.webp");
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  padding: 5em 0;

}

.Section1 {
  align-items: center;
}

.section3 {

  max-width: 1140px !important;
  align-items: center;
  margin: auto;
}


.section5 {
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.buttonsec {
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  background-color: #d8b600;
  color: white;
  border: 1px solid #d8b600;
  float: right;
  margin-top: 30px;
}

.section4 {
  align-items: center;
  max-width: 1040px;
  margin: auto;

}

.para1 {
  margin-top: 70px
}

.slide {
  max-width: 1100px;
  margin: auto;
}

.bluebg {
  background-image: url("images/bluebg.webp");
}

.icon-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 20px;
  height: 200px;
}

.icon-box:hover {
  transform: translateY(-5px);
}

.icon-box i {
  font-size: 3rem;
  color: #212529;
  margin-right: 15px;
}

.icon-box p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
}