{% extends 'base.html' %}
{% load static %}

{% block title %}
  About
{% endblock %}

{% block header %}
  <hr class="d-none d-lg-block" />
  <!-- Header Section -->
  <header class="py-4 pt-5">
    <div class="container">
      <h1>About</h1>
      <h2>Learn Quran Academy Australia</h2>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- Content Section -->
  <div class="my-5">
    <div class="row" style="--bs-gutter-x: 0;">
      <div class="bg1">
        <div class="container">
          <div class="row Sayhellow">
            <div class="col-sm-12 col-md-4">
              <div class="images">
                <img style="width: 100%" src="{% static 'images/australian-boy-learning-quran.webp' %}" alt="" />
              </div>
            </div>
            <div class="col-sm-12 col-md-8">
              <h3 class="color-pc mb1" style="font-size: 30px">Let's start learning Quran with us!</h3>
              <p class="color-wc text-light pt-3" style="font-size: 13px">Begin your Quranic journey with Quranotarbiyah, a pioneering institution that revolutionized online Quranic education in 2006. Our mission is to disseminate knowledge about Islam and the Quran worldwide. With a curriculum tailored to accommodate learners of all ages, we welcome students from every corner of the globe.</p>
              <p class="color-wc text-light" style="font-size: 13px">Throughout the years, numerous students have successfully completed our courses in Quranic Reading, Tajweed, Tafseer, Translation, and Memorization. Each course is meticulously crafted to nurture moral character in line with Islamic teachings.</p>
              <p class="color-wc text-light" style="font-size: 13px">At Quranotarbiyah, education transcends boundaries - our services are available round-the-clock, 24/7. Our team comprises highly qualified, trained, and dedicated teachers and staff committed to supporting your educational journey. To ensure a comfortable learning environment, we provide qualified female instructors for our Muslim sisters, allowing them to learn from the comfort of their homes.</p>
              <p class="color-wc text-light" style="font-size: 13px">Our students have access to a dedicated web portal, facilitating seamless communication with their teachers and providing access to daily lessons and schedules. Leveraging the power of the internet, we are steadfast in our mission to spread the teachings of the Quran worldwide. Join Quranotarbiyah today and embark on your Quranic quest.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4 style="color: #d8b600 !important">Why choose learn Quran academy</h4>
    <div class="row Card pt-5">
      <div class="col-md-4">
        <img class="cardimg" src="{% static 'images/clock.svg' %}" alt="" />
        <h2 class="text-center pt-2" style="font-size: 20px; color: #d8b600 !important">24/7 Learn Online</h2>
        <p class="text-center pt-2" style="font-size: 13px">24/7 Online Learning At Quranotarbiyah, we're available online round the clock. No matter where you reside on the globe, our services are accessible at your convenience.</p>
      </div>

      <div class="col-md-4">
        <img class="cardimg" src="{% static 'images/abt-svg-2.svg' %}" alt="" />
        <h2 class="text-center" style="font-size: 20px; color: #d8b600 !important">1 on 1 Online Quran Session</h2>
        <p class="text-center" style="font-size: 13px">One-on-One Online Quran Sessions Experience personalized one-on-one online Quran learning sessions, ensuring a comfortable and effective learning environment for you and your family.</p>
      </div>

      <div class="col-md-4">
        <img class="cardimg" src="{% static 'images/abt-svg-3.svg' %}" alt="" />
        <h2 class="text-center pt-2" style="font-size: 20px; color: #d8b600 !important">Islamic Teachings</h2>
        <p class="text-center pt-2" style="font-size: 13px">Islamic Teachings In addition to Quranic learning, we provide comprehensive teachings of Islam, enabling you to gain a deeper understanding and enlightenment of its splendid teachings.</p>
      </div>

      <div class="col-md-4">
        <img class="cardimg" src="{% static 'images/abt-svg-4.svg' %}" alt="" />
        <h2 class="text-center pt-2" style="font-size: 20px; color: #d8b600 !important">Qualified staff</h2>
        <p class="text-center pt-2" style="font-size: 13px">Qualified Staff Our team at Quranotarbiyah consists of the best qualified, experienced, courteous, and well-trained online Quran teachers, ensuring effective Quranic learning.</p>
      </div>

      <div class="col-md-4">
        <img class="cardimg" src="{% static 'images/abt-svg-5.svg' %}" alt="" />
        <h2 class="text-center" style="font-size: 20px; color: #d8b600 !important">Female Tutor</h2>
        <p class="text-center" style="font-size: 13px">Quran Memorization with Female Tutors Benefit from highly qualified, well-trained, and extremely capable female tutors dedicated to broadcasting the essence of the Holy Quran, particularly tailored for our female students.</p>
      </div>

      <div class="col-md-4">
        <img class="cardimg" src="{% static 'images/abt-svg-6.svg' %}" alt="" />
        <h2 class="text-center pt-2" style="font-size: 20px; color: #d8b600 !important">Webportal</h2>
        <p class="text-center pt-2" style="font-size: 13px">Interactive Web Portal Access our interactive website and student web portal with a responsive design from any device, providing seamless access to course materials and direct communication with our instructors.</p>
      </div>
    </div>
  </div>

  <div class="Section2 mt-4">
    <div class="container">
      <div class="d-flex section3">
        <div class="Section1">
          <h2 style="color: #d8b600 !important">Start Your Online Quran Learning Class Today</h2>
          <p class="text-light">Choose Quranotarbiyah for a comprehensive, personalized, and accessible Quranic learning experience tailored to your needs and preferences.</p>

          <button class="buttonsec">Get Started</button>
        </div>

        <div>
          <img style="width: 80%" src="images/austrailan-girl-learning-online-quran.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
